.skills {
    margin-bottom: 120px;

    &__container{
    }

    &__list {
        @media (min-width: $screen-md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        &--h3{
            @media (min-width: $screen-md) {
                font: $text-xl-bold;
            }
        }
        &--span{
            font: $text-xl-bold;

        }
    }


    &__item {


        &_bar {
            width: 100%;
            height: 30px;
            background-color: #fff;
            position: relative;

        }


        &_bar--progress {
            position: absolute;
            left: 0;
            top: 0;
            //width: 70%;
            height: 30px;
            background-color: $accent-color;

        }
        &--h3 {
            margin-bottom: 3px;
            font: $text-xs-bold;
            @media (min-width: 550px) {
                font: $text-l-bold;
            }

        }
    }

}
