.timeline {
    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        @media (min-width: $screen-md) {
        align-items: center;
        }
        @media (min-width: 1073px) {
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;

        }
    }
    &__block {
        width: 100%;

        @media (min-width: $screen-md) {
            max-width: 523px;
        }
        &--h3{
            margin-bottom: 35px;
            @media (min-width: $screen-md) {
                font: $text-xl-bold;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

    }

    &__item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        max-width: 400px;
        @media (min-width: 550px){
            justify-content: space-between;
        }
        &_left {
            display: flex;
            align-items: center;
        }

        &_round {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
            background-color: #fff;
            z-index: 3;
            margin-right: 20px;
            &::before{
                content: "";
                position: absolute;
                left: 12px;
                bottom: -27px;
                z-index: 1;
                width: 5px;
                height: 82px;
                background-color: #fff;
                z-index: 1;
            }
            &--small {
                width: 20px;
                height: 20px;
                background-color: $accent-color;
                border-radius: 50%;
                position: relative;
                z-index: 3;
                
            }
            @media (min-width:550px) {
                width: 50px;
                height: 50px;
                &::before{
                    left: 22px;
                    bottom: -20px;

                }
                &--small{
                    width: 30px;
                    height: 30px;
                }
            }
        }



        &_time {
            font: $text-xs-bold;
            max-width: 76px;
            @media (min-width: 550px) {
                font: $text-m-bold;
               
        }
            @media (min-width: 550px){
                max-width: 112px;
            }
    }
        &_right {
            font: $text-xs-bold;
            max-width: 135px;
            width: 100%;
            text-align: start;

            @media (min-width: 550px){
                max-width: 320px;
            }
            &--speciality {
                color: #fff;
                font: $text-xs-light;

            }
            &--long{
                max-width: 320px;
                @media (min-width: $grid-width-min) {
                    max-width:102px;
                }
                @media (min-width: 550px){
                    max-width: 320px;
                }
            }
            @media (min-width: 550px) {
                font: $text-m-bold;
                &--speciality{
                    font: $text-m-light;
                }
            }
        }
        @media (min-width: 550px) {
            max-width: 510px;
        }
    }

}
